* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-width: 320px;
  background: #252525;
}

.main {
  width: auto;
  margin: 14vh auto 0 auto;
  max-width: 1350px;
  display: block;
  background: linear-gradient(135deg, #167aff, #a901ff);
  color: #fff;
  border-radius: 20px;
  padding: 35px 40px 35px 40px;
  text-align: center;
}

.search {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  max-width: 370px;
  min-width: 200px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  min-width: 60px;
  min-height: 60px;
}

.card {
  width: 250px;
  background: rgba(153, 153, 153, 0.4);
  border-radius: 45px;
  color: #252525;
  padding-bottom: 30px;
  user-select: none;
  margin: 10px;
  opacity: 0;
  animation-delay: 500ms;
  animation-duration: 2s;
  animation-name: fade;
  animation-fill-mode: forwards;
  float: left;
  display: inline;
}

.weather-icon {
  width: 110px;
  margin-top: 30px;
}

.day {
  font-size: 60px;
  font-weight: 500;
  margin-top: 20px;
}

.pack {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card::after {
  opacity: 1;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.city {
  color: white !important;
  display: inline-block;
  user-select: none;
  font-size: 40px;
  margin-left: 30px;
  animation-duration: 3s;
  animation-name: fade;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

footer p {
  color: #888;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  display: inline;
}

footer p:not(:last-child)::after {
  content: " | ";
  margin: 0 5px;
  color: #333;
}

@media screen and (max-width: 992px) {
  .main {
    padding: 25px;
    align-items: center;
  }
  .search{
    justify-content: center;
    align-items: center;
  }
  footer{
    position: relative;
  }
}

@media screen and (max-width: 1450px) {
  .main{
    margin: 10px auto;
  }
  .pack{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0;
    align-items: center;
  }
  .search input{
    padding: 5px 15px;
    border-radius: 15px;
    flex: 1;
    margin-right: 10px;
  }
  .search button {
    border-radius: 15px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }
}

.card:nth-child(2){
  animation-delay: 1000ms;
}
.card:nth-child(3){
  animation-delay: 1500ms;
}
.card:nth-child(4){
  animation-delay: 2000ms;
}
.card:nth-child(5){
  animation-delay: 2500ms;
}